 body {
            background-color: lightgray;
        }
        .semua{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-family: Arial, Helvetica, sans-serif;
            
            
        }
        .latarbiru {
            width: 450px;
            height: 200px;
            background-color: rgb(64, 112, 244);
            border-radius: 1rem 1rem 0 0;
            box-shadow: 5px 8px 8px rgba(0, 0, 0, .25);
        }
        .latarbiru img {
            width: 150px;
            height: 150px;
            background-color: rgb(64, 112, 244);
            border: 5px solid rgb(64, 112, 244);
            box-shadow: 0 5px 0 rgb(64, 112, 244);
            border-radius: 50%;
            position: relative;
            z-index: 99999;
            margin-top: 60px;
            margin-left: 140px;
        }
        .latarputih {
            width: 450px;
            height: 340px;
            background-color: white;
            border-radius: 0 0 1rem 1rem;
            padding-top: 10px;
            text-align: center;
            box-shadow: 5px 8px 8px rgba(0, 0, 0, .25);
        }

        .footer {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
        }

        .box{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px;
          
        }

        .nama {
            font-weight: 700;
            font-size: 1.5rem;
            margin-top: 1.2rem;
        }

        .pekerjaan {
           margin-top: 10px;
           font-weight: 400;
        }

        .tombol{
            padding-top: 18px;
            
        }

        .subscribe{
            border: 0.188rem solid rgb(64, 112, 244);
            border-radius: 0.5rem;
            color: white;
            background-color: rgb(64, 112, 244);
            font-size: 14px;
            width: 7rem;
            height: 2rem;
            transition: .5s;
        }
        .like{
            border: 0.188rem solid rgb(64, 112, 244);
            border-radius: 0.5rem;
            color: white;
            background-color: rgb(64, 112, 244);
            width: 7rem;
            height: 2rem;
            transition: .5s;
        }

        .subscribe:hover{
            background-color: rgb(96, 136, 247);
            border: 2px solid rgb(96, 136, 247);
            box-shadow: 3px 3px 5px rgba(0, 0, 0, .25);
        }

        .like:hover{
            background-color: rgb(96, 136, 247);
            border: 2px solid rgb(96, 136, 247);
            box-shadow: 3px 3px 5px rgba(0, 0, 0, .25);
        }

        .media-button{
            text-align: center;
            margin-top:20px ;
        }

        .link{
            font-size: 1.9rem;
            border-radius: 50%;
            margin: 0.5px;
        }

        .link i{
            font-size: 1.3rem;
            color: white;
            width: 2.1rem;
            text-align: center;
        }

        .garis{
            border: 1px solid black;
            height: 3rem;
            margin: 25px;
        }

        .data{
            padding: 2px;
            letter-spacing: 5px;
            font-size: .8rem;
        }